/* ----------------------------- */
/* == Grid variables             */
/* ----------------------------- */
////
/// @group wrappers
////

/// Gutter spacing
/// @type var
$gutter: 3rem;

/// Content Width
/// @type var
$content: 940px;
$contentie: 935px;
$site-wrapper-ie:975px;

/// Content Padding
/// @type var
$content-padding: 20px;

/* ----------------------------- */
/* == basic spacings             */
/* ----------------------------- */
